# Python Function 1: FILTERING (LOC/ILOC)

In [2]:
import pandas as pd
dog=pd.read_excel("Dog breeds ranked.xlsx")
dog.head()

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",...,"$22,638",30.0,0.70,14.00,0.0,none,$833,$324,Once a week,1.0
2,Siberian Husky,working,3.22,16,2,Average,none,4.72,medium,"$22,049",...,"$21,992",35.0,0.61,13.84,2.0,"'lion jaw', heart problems",$435,$324,Once a week,1.0
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",...,"$20,224",31.0,0.69,12.49,1.0,hip problems,$750,$324,Once a week,1.0
4,English Cocker Spaniel,sporting,3.33,51,2,Excellent,none,4.70,medium,"$18,993",...,"$18,333",37.0,0.56,11.42,0.0,none,$510,$324,Once in a few weeks,2.0

In [8]:
dog[(dog['score'] >3.0) & (dog['intelligence']== "Above average")]

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",...,"$22,638",30.0,0.70,14.00,0.0,none,$833,$324,Once a week,1.0
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",...,"$20,224",31.0,0.69,12.49,1.0,hip problems,$750,$324,Once a week,1.0
25,Affenpinscher,toy,3.20,84,1,Above average,none,4.07,small,"$18,333",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Australian Terrier,terrier,3.11,77,1,Above average,none,3.99,small,"$17,892",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dog.loc[(dog['score'] >3.0) & (dog['intelligence']== "Above average"),:]

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",...,"$22,638",30.0,0.70,14.00,0.0,none,$833,$324,Once a week,1.0
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",...,"$20,224",31.0,0.69,12.49,1.0,hip problems,$750,$324,Once a week,1.0
25,Affenpinscher,toy,3.20,84,1,Above average,none,4.07,small,"$18,333",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Australian Terrier,terrier,3.11,77,1,Above average,none,3.99,small,"$17,892",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 2) SORT

In [10]:
dog[(dog['score']>3.0) & (dog['intelligence'] == "Above average")].sort_values('popularity ranking',ascending=False)

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
25,Affenpinscher,toy,3.20,84,1,Above average,none,4.07,small,"$18,333",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",...,"$20,224",31.0,0.69,12.49,1.0,hip problems,$750,$324,Once a week,1.0
29,Australian Terrier,terrier,3.11,77,1,Above average,none,3.99,small,"$17,892",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",...,"$22,638",30.0,0.70,14.00,0.0,none,$833,$324,Once a week,1.0

# 3) Groupby instead of SUMIF

In [13]:
grouped = dog.groupby('type')['score'].sum()
grouped['terrier']

33.45

# 4) Groupby instead of SUMIF(S)

In [12]:
grouped = dog.groupby(['type','size.1'])['score'].sum()
grouped['terrier']['small']

26.99